#idCard {
    background: rgb(185, 152, 255);
    border-radius: 20px;
    border: 4px solid black;
    width: 270px;
    height: 130px;
    padding: 20px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
h6 {
    margin: 0px;
}
body {
    text-align: center;
    background-color: rgb(181, 181, 181)
}
